
<h1>Hello {{sessionUser.get("username")}}</h1>

<h3>Upload new file : </h3>

<div>
    Drop File:
    <div ng-file-drop ng-file-select ng-model="files" class="drop-box" 
        drag-over-class="dragover" ng-multiple="true" allow-dir="true"
        accept="image/*,application/pdf" ><p ng-hide="files">Drop pdfs or images here or click to upload</p><img class="img-centered" ng-show="files" src="img/loader.gif"></div>
   
    <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
   
   <p ng-show="files">Uploading : </p>
    <ul>
        <li ng-repeat="f in files" style="font:smaller">
        	{{f.name}}
        </li>
    </ul>

</div>


<h3>Your files  below : </h3>

<ul>
    <li ng-repeat="url in appFilesUrls"><img ng-src="{{url}}"/></li>    
</ul>